[[source]]
url = "https://pypi.org/simple/"
verify_ssl = true
name = "pip_conf_index_global"

[packages]
django = "*"
django-allauth = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
pillow = "*"
drf-yasg = "*"
psycopg2 = "*"
psycopg2-binary = "*"
python-decouple = "*"

[dev-packages]

[requires]
python_version = "3.13"
